*$py.class
*.egg-info/
*.py[cod]
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
/.hypothesis/
/.idea/
/.pytest_tmp/
/__ARCHIVE__/
/docs/_build/
/out/
/temp_pytest*/
__pycache__/
build/
dist/
htmlcov/
